In [11]:
import pandas as pd
data = pd.read_excel('C:/Users/HP/Desktop/SentiWordNet_Citation.xlsx', header = 0)
data2 = pd.read_excel('C:/Users/HP/Desktop/Author_Self_Citations.xlsx', header = 0)
data.shape

(8736, 6)

In [12]:
import pandas as pd

# Merging df and new_data on the appropriate columns
# to remove self-citations
merged_data = pd.merge(data, data2, left_on=['Source', 'target'], right_on=['Citing PaperID', 'Cited PaperID'], how='left', indicator=True)
filtered_df = merged_data[merged_data['_merge'] == 'left_only']
filtered_df.drop(['Unnamed: 0', 'Citing PaperID', 'Citing Author', 'Cited PaperID', 'Cited Author', 'Sentence', 'P_Score','_merge'], axis = 1)

,Source,target,sentiment,sentence,p_score
1,H05-1033,A00-2024,o,Table 3: Example compressions Compression AvgL...,0.000
2,I05-2009,A00-2024,o,5.3 Related works and discussion Our two-step ...,0.500
3,I05-2009,A00-2024,o,(1999) proposed a summarization system based o...,0.500
4,I05-2009,A00-2024,o,We found that the deletion of lead parts did n...,0.000
5,I08-1016,A00-2024,o,Automatic text summarization approaches have o...,1.250
...,...,...,...,...,...
13071,W98-1118,W96-0213,p,He has achieved state-of-the art results by ap...,0.000
13072,W99-0606,W96-0213,o,"B = (Brill and Wu, 1998); M = (Magerman, 1995)...",0.000
13073,W99-0607,W96-0213,o,The model we use is similar to that of (Ratnap...,0.000
13074,W99-0607,W96-0213,p,Our model exploits the same kind of tag-n-gram...,0.625
13075,W99-0608,W96-0213,o,"In that table, TBL stands for Brill's transfor...",0.000

In [14]:
# Getting the list of unique Cited Papers
target = []
for i in filtered_df.index:
    if(filtered_df['target'][i] not in target):
        target.append(filtered_df['target'][i])

In [15]:
len(target)

179

In [18]:
ncp = []
nc = []
tsc = []

# counting the no of distint citing articles for each cited articles and creating a list of citation counts
for i in target:
    src = []
    cnt = 0
    for j in filtered_df.index:
        if(filtered_df['target'][j] == i and filtered_df['Source'][j] not in src):
            src.append(filtered_df['Source'][j])
            cnt += 1
    ncp.append(cnt)
    
"""counting the total number of citation senteces and the total sum of Sentiment scores 
for each cited articles and creating lists for them"""
for i in target:
    tot = 0
    ct = 0
    for j in filtered_df.index:
        if(filtered_df['target'][j] == i):
            tot+= filtered_df['p_score'][j]
            ct += 1
    tsc.append(tot)
    nc.append(ct)

In [19]:
print(len(ncp), len(nc), len(tsc))

179 179 179

In [20]:
df = pd.DataFrame()

In [21]:
#Creating a Dataframe for storing these data
df['Paper'] = target
df['No of citing paper'] = ncp
df['Total Citations'] = nc
df['Total Score'] = tsc

In [22]:
df.head()

      Paper  No of citing paper  Total Citations  Total Score
0  A00-2024                  13               23        4.125
1  A92-1018                  60               81        3.750
2  C02-1007                   6               16        3.750
3  C04-1162                   5                7        0.500
4  C08-1005                   2                2        0.625

In [23]:
df.to_excel('C:/Users/HP/Desktop/SentiScores_NSC.xlsx', sheet_name = 'Sheet_1', index = None)