In [2]:
import pandas as pd
data = pd.read_excel('C:/Users/HP/Desktop/Author_Papers_Athar.xlsx', header = 0)
data.head()

,Paper,No of citing paper,Total Citations,Total Score,AuthorNumber,Author
0,A00-2024,15,29,3.750,Author1,"Jing, Hongyan"
1,A00-2024,15,29,3.750,Author2,"McKeown, Kathleen R."
2,A92-1018,61,82,3.875,Author1,"Cutting, Doug"
3,A92-1018,61,82,3.875,Author2,"Kupiec, Julian"
4,A92-1018,61,82,3.875,Author3,"Pedersen, Jan"

In [3]:
# Creating a list of unique authors
author = []
for i in data['Author']:
    if(i not in author):
        author.append(i)
        
# Through Averaging the Citation Counts and Sentiment Score count, finding the impact factors 
imp_fac = []
s_fac = []
for i in author:
    subdata = data[data['Author'] == i]
    imp_fac.append( sum(subdata['No of citing paper'])/ len(subdata))
    s_fac.append(sum(subdata['Total Score'])/ len(subdata))

In [4]:
print(len(imp_fac), len(s_fac))

357 357

In [ ]:
for i in range (357):
    print(author[i], imp_fac[i], s_fac[i])

In [11]:
data[data['Author'] == 'Mercer, Robert L.']

,Paper,No of citing paper,Total Citations,Total Score,AuthorNumber,Author
149,J92-1002,8,14,0.125,Author5,"Mercer, Robert L."
154,J92-4003,117,204,2.125,Author5,"Mercer, Robert L."
160,J93-2003,368,707,5.875,Author4,"Mercer, Robert L."

In [10]:
# Creating Dataframe and saving in Excel file
indexes = pd.DataFrame()
indexes['Author'] = author
indexes['impact factor'] = imp_fac
indexes['sent factor'] = s_fac
indexes.to_excel('C:/Users/HP/Desktop/Author_impact_athar.xlsx', index = False)